body {
    /* box-sizing: border-box; */
    margin: 0;
    background-color: #FFDDDD;
    color: rgb(112, 109, 109);
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    margin: auto;
    font-size: large;
    font-family: sans-serif;
}

#head-shot {
    position: relative;
    color: 'white';
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(to top, #FFDDDD, transparent), url('./assets/photos/head-shot.jpg');
    background-size: cover;
    z-index: 0;
    margin: 0;
}

#header {
    position: absolute;
    color: rgba(255, 255, 255, 0.9);
    font-size: 6em;
    font-weight: 800;
    z-index: 1;
    background-color: transparent;
    bottom: 0;
    left: .5em;
    font-family: sans-serif;
}

#bio{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#bioDescription{
    width: 400px;
    height: 400px;
    float: right;
    text-align: center;
    margin-top:20px;
    padding: 30px;
}

.sectionTitle{
    position: relative;
    color: #5D001E;
    text-align: center;
    border-bottom: 1px solid #5D001E;
    font-size: 2em;
    font-weight: 800;
    z-index: 1;
    background-color: transparent;
    bottom: 0;
    left: .5em;
    font-family: sans-serif;
}

#descriptionParent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    justify-content: space-evenly;
}

.descriptiveIcon{
    height: 200px;
    width: 200px;
}

#celestePhotoPic{
    margin: 25px 0 25px 0;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    padding: 10px;
    border: solid white 2px;
}

#backgroundwNav{
    flex-wrap: wrap;
}

.navigation-bar {
    position: fixed;
    background-color: #5D001E;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #E3E2DF;
    width: 100%;
    z-index: 2;
}

ul.navigation-bar {
    margin-top: 0px;
}

.navigation-bar li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.navigation-bar a {
text-decoration: none; 
/* This is so there's no underline on the nagivation links */
color:#E3E2DF;
padding: 8px;
font-variant: normal;
font-family: 'Arial Narrow Bold', sans-serif;
}

/* If you want to set another color for the navigation links when the mouse is over them, use a:hover */
.navigation-bar a:hover {
color:rgb(253, 209, 217);
/* text-shadow:2px 8px 4px 2px #0ff; */
text-shadow:0 0 30px #FF0000, 0 0 30px white;
font-size: larger;
}

#section2{
    flex-wrap: wrap;
}

#intro {
    padding: 30px;
}

#bioDescription{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width:100%;
}

#namePic{
    width:300px;
    height:auto;
    margin: 0 auto;
    border-bottom: 1px solid #5D001E;
}

#namePicDiv{
    margin: 0 auto;
}

#instagram-hyperlink {
    color: gray;
}

#portfolio {
    Background-color: #FFDDDD;
    border-style: solid #c83349 12px;
    padding: 30px;
    color: rgb(112, 109, 109);
    font-size: large;
    font-family: sans-serif;
}

#techSkills{
    text-align: center;
}

#github-repository {
    color: gray;
}

#projects{
    flex-wrap: wrap;
    flex-direction: row;
    Background-color: #FFDDDD;
    margin: auto;
}

#crab-game {
    width: 40%;
    height: auto;
    border: #5D001E solid 5px;
    background-color: #E3E2DF;
    margin:30px;
    flex-wrap: wrap;
    align-self: center;
}
/* .overlay {
    margin: 30px;
    padding: 3px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    align-items: center;
    position: absolute;
} */

#foodly {
    width: 40%;
    height: auto;
    border: #5D001E solid 5px;
    background-color: #E3E2DF;
    margin:30px;
    flex-wrap: wrap;
    align-self: center;
}

#scissorsPalace {
    width: 40%;
    height: auto;
    border: #5D001E solid 5px;
    background-color: #E3E2DF;
    margin:30px;
    flex-wrap: wrap;
    align-self: center;
}

#dzm {
    width: 40%;
    height: auto;
    border: #5D001E solid 5px;
    background-color: #E3E2DF;
    margin:30px;
    flex-wrap: wrap;
    align-self: center;
}

ul {
    list-style-type: square;
    font-size: large;
}
 /* Footer Section */

#section3{
    flex-wrap: nowrap;
}

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #5D001E;
    justify-content: space-evenly;
    color: #E3E2DF;
    border-top: 2px solid white;
    padding: 10px;
    max-width:100%;
}

#copywrong {
    margin: 0 auto;
    text-align: center;
}

/* Icons in order left-to-right */
#contact-me {
    /* width: 20%; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    float:right;
    z-index: 1;
    /* there is a blue line under the icons I want to get rid of */
}

#footerContact{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#call-icon {
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    margin-right: .5rem;
    border-radius: .5em;
}

#email-icon {
    width: 50px;
    height: 40px;
    background-color: whitesmoke;
    margin-right: .5rem;
    border-radius: .5em;
}

#instagram-icon {
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    margin-right: .5rem;
    border-radius: .5em;
}

#linkedin-icon {
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    margin-right: .5rem;
    border-radius: .3em;
}

#github-icon {
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: .3em;
}
